node_modules
.next
dist
.env.deploy
coverage
.env
.env.local
.DS_Store
pnpm-lock.yaml
yarn.lock
prisma/dev.db
*.tsbuildinfo
.vercel
packages/*/dist
.env.deploy
fix-razorpay-keys.mjs
*.mjs
*.sh
render.yaml
do-it.mjs
